@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mukta:wght@300;400;500&family=Noto+Sans:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

.error .error-box,
.error-info {
  margin: 30px;
  font-family: "Lora", serif;
  font-family: "Mukta", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

.msg {
  color: #0042c6;
  font-size: 40px;
  font-weight: 600;
}

.access {
  font-weight: 500;
}

.protect {
  font-size: 13px;
  color: #737373;
}
